/* Fix triệt để khoảng cách Facebook button */
/* .fb_iframe_widget {
    display: inline-block !important;
    line-height: 1 !important;
    margin: 0 !important;
  }
  
  .fb_iframe_widget span {
    vertical-align: top !important;
    margin: 0 !important;
    padding: 0 !important;
  } */